/* Reset default browser styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* Header styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 10px 20px;
}

.left-section {
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 40px;
}

.logo-container img {
    max-width: 100px;
    margin-right: 10px;
}

.logo-text {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.search-bar input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 250px;
}

.center-section {
    flex: 1;
    text-align: center;
}

.options {
    display: flex;
    align-items: center;
}

.options span {
    margin: 0 10px;
}

.bar {
    width: 1px;
    height: 20px;
    background-color: #000;
    margin: 0 5px;
}

.right-section {
    display: flex;
    align-items: center;
}

.user-profile {
    /* Style the container for user's picture */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    overflow: hidden;
}

.rankings {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 42px;
    margin-bottom: 20px;
    color: maroon;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.subject-rankings {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.subject {
    flex-basis: calc(25% - 20px);
    /* Adjust width and margin as needed */
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 3px solid maroon;
}

.subject h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 19px;
    color: green;
    /* Green color for subject titles */
}

.top-students {
    list-style: none;
    padding-left: 0;
}

.top-students li {
    margin-bottom: 8px;
    color: #666;
    font-size: 15px;
    transition: color 0.3s ease;
}

.top-students li:hover {
    color: #333;
    cursor: pointer;
}